In [271]:
# this is ML file
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import xgboost as xgb
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score , f1_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import cross_val_score

%matplotlib inline
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [272]:
# import cleaned train data from csv
train_data = pd.read_csv('cleaned_train_data.csv')

In [273]:
train_data.head()

,amount_tsh,gps_height,longitude,latitude,population,construction_year,status_group,recorded_year,diff_cons_recorded,day_difference,binned_population,binned_gps_height,funder_Danida,funder_Government Of Tanzania,funder_Hesawa,funder_Others,funder_Rwssp,funder_World Bank,installer_Commu,installer_DANIDA,installer_DWE,installer_Government,installer_Others,installer_RWE,basin_Internal,basin_Lake Nyasa,basin_Lake Rukwa,basin_Lake Tanganyika,basin_Lake Victoria,basin_Pangani,basin_Rufiji,basin_Ruvuma / Southern Coast,basin_Wami / Ruvu,public_meeting_False,public_meeting_True,public_meeting_Others,management_company,management_other,management_other - school,management_parastatal,management_private operator,management_trust,management_unknown,management_vwc,management_water authority,management_water board,management_wua,management_wug,permit_False,permit_True,permit_Others,extraction_type_afridev,extraction_type_cemo,extraction_type_climax,extraction_type_gravity,extraction_type_india mark ii,extraction_type_india mark iii,extraction_type_ksb,extraction_type_mono,extraction_type_nira/tanira,extraction_type_other,extraction_type_other - mkulima/shinyanga,extraction_type_other - play pump,extraction_type_other - rope pump,extraction_type_other - swn 81,extraction_type_submersible,extraction_type_swn 80,extraction_type_walimi,extraction_type_windmill,management_group_commercial,management_group_other,management_group_parastatal,management_group_unknown,management_group_user-group,payment_type_annually,payment_type_monthly,payment_type_never pay,payment_type_on failure,payment_type_other,payment_type_per bucket,payment_type_unknown,water_quality_coloured,water_quality_fluoride,water_quality_fluoride abandoned,water_quality_milky,water_quality_salty,water_quality_salty abandoned,water_quality_soft,water_quality_unknown,quantity_dry,quantity_enough,quantity_insufficient,quantity_seasonal,quantity_unknown,source_type_borehole,source_type_dam,source_type_other,source_type_rainwater harvesting,source_type_river/lake,source_type_shallow well,source_type_spring,source_class_groundwater,source_class_surface,source_class_unknown,waterpoint_type_group_cattle trough,waterpoint_type_group_communal standpipe,waterpoint_type_group_dam,waterpoint_type_group_hand pump,waterpoint_type_group_improved spring,waterpoint_type_group_other,binned_construction_year_0,binned_construction_year_1,seperated_construction_year_0,seperated_construction_year_1,seperated_construction_year_2,seperated_construction_year_3,seperated_construction_year_4,seperated_construction_year_5,seperated_construction_year_6,bined_diff_cons_recorded_0,bined_diff_cons_recorded_1,bined_diff_cons_recorded_2,bined_diff_cons_recorded_3,bined_diff_cons_recorded_4,bined_diff_cons_recorded_5,binned_amount_tsh_0,binned_amount_tsh_1,binned_amount_tsh_2,binned_amount_tsh_3,binned_amount_tsh_5,binned_amount_tsh_6,bined_long_no,bined_long_yes,bined_lat_no,bined_lat_yes
0,8.699681,1390.000000,34.938093,-9.856322,109,1999,0,2011,12,3265,5,4,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1
1,0.000000,1399.000000,34.698766,-2.147466,280,2010,0,2013,3,2542,5,4,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1
2,3.258097,686.000000,37.460664,-3.821329,250,2009,0,2013,4,2551,5,3,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1
3,0.000000,263.000000,38.486161,-11.155298,58,1986,2,2013,27,2579,4,2,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1
4,0.000000,1056.616571,31.130847,-1.825359,0,0,0,2011,2011,3144,0,4,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1

In [274]:
train_data.shape

(42156, 135)

In [275]:
X = train_data.drop(["status_group"],axis = 1)
y = train_data["status_group"]

In [276]:
# split data in train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y, test_size=0.20)

In [277]:
# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)

In [278]:
# Transform the training and testing data using the X_scaler and y_scaler models
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [279]:
# Cros validation
#clf = RandomForestClassifier(n_estimators=100)
#cross_val_score(clf, X, y, cv=5, scoring= "f1_micro")

In [280]:
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)
#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train_scaled,y_train)
feature_imp = pd.Series(clf.feature_importances_,index=X_train.columns).sort_values(ascending=False)
feature_imp_top = feature_imp.head(50)
print(feature_imp_top.head(10))

longitude                      0.110313
latitude                       0.108742
quantity_dry                   0.070099
day_difference                 0.066550
gps_height                     0.060307
population                     0.035149
diff_cons_recorded             0.029839
waterpoint_type_group_other    0.028605
extraction_type_other          0.026788
construction_year              0.026719
dtype: float64

In [281]:
X = X[feature_imp_top.index]
# split data in train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y, test_size=0.20)

In [282]:
# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)

# Transform the training and testing data using the X_scaler and y_scaler models
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [283]:
# # Grid Search 
# from sklearn.model_selection import GridSearchCV
# parameters = {'bootstrap': [True],"max_depth" : [16], "n_estimators":[200],'max_features': ['auto'], 'min_samples_leaf': [1],'min_samples_split': [2]}
# rf = RandomForestClassifier(random_state=42)
# clf = GridSearchCV(rf, parameters)
# clf.fit(X_train_scaled, y_train)
# GridSearchCV(estimator=RandomForestClassifier(random_state=42),
#              param_grid= parameters, cv = 3)
# sorted(clf.cv_results_.keys())

# clf.best_params_

In [284]:
# rf_clf.get_params

In [285]:
rf_clf = RandomForestClassifier(random_state=42 , bootstrap =  True , n_estimators=1000,max_depth = 16, min_samples_split = 2 , max_features=  'auto', min_samples_leaf =  1)
rf_clf.fit(X_train_scaled, y_train)
print(rf_clf.feature_importances_)
y_pred = rf_clf.predict(X_test_scaled)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:", accuracy_score(y_test, y_pred))
print("F Score:",f1_score(y_test,y_pred, average='weighted'))

[0.08960348 0.08685872 0.11120255 0.05984864 0.06002231 0.03572136
 0.04200518 0.0470931  0.03865109 0.04046929 0.03327629 0.01716345
 0.02479702 0.01555517 0.01412249 0.0125791  0.0134969  0.01116694
 0.01005787 0.01084363 0.01189652 0.00881402 0.00933522 0.0103171
 0.00904074 0.00707646 0.00834066 0.01119853 0.00832635 0.00885975
 0.00858164 0.00705448 0.0084345  0.00858897 0.00755059 0.00749918
 0.00726807 0.00574995 0.00756639 0.00676547 0.00685546 0.00534317
 0.00638612 0.00589992 0.00523247 0.00540841 0.00547363 0.00414173
 0.00510898 0.00735096]
Accuracy: 0.7967267552182163
F Score: 0.78422308629634

In [286]:
# Combined report with all above metrics
from sklearn.metrics import classification_report
print(classification_report(y_test , y_pred ))

              precision    recall  f1-score   support

           0       0.77      0.91      0.84      4569
           1       0.60      0.23      0.33       616
           2       0.86      0.74      0.79      3247

    accuracy                           0.80      8432
   macro avg       0.74      0.63      0.66      8432
weighted avg       0.79      0.80      0.78      8432

In [363]:
validation_set = pd.read_csv('validation_set.csv')
test_data = validation_set.drop("status_group",axis=1)
test_labels = validation_set["status_group"]
# test_data = pd.read_csv('test_set_values.csv')

In [364]:
test_data.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,9400.000000,9400.000000,9400.000000,9400.000000,9.400000e+03,9400.000000,9400.000000,9400.000000,9400.000000,9400.000000
mean,37279.465532,306.465213,670.732021,34.056611,-5.707250e+00,0.500957,15.150957,5.752234,182.237021,1301.208617
std,21303.338640,2315.082013,693.630741,6.600041,2.947573e+00,15.172954,17.221200,9.980287,466.996072,951.360879
min,9.000000,0.000000,-90.000000,0.000000,-1.164838e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18935.750000,0.000000,0.000000,33.123941,-8.512717e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37420.500000,0.000000,376.000000,34.913877,-5.031163e+00,0.000000,12.000000,3.000000,29.500000,1985.000000
75%,55703.250000,20.000000,1316.250000,37.143485,-3.330795e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74229.000000,117000.000000,2614.000000,40.344301,-2.000000e-08,1402.000000,99.000000,80.000000,11463.000000,2013.000000

In [365]:
# Binned lat long columns
test_data['bined_long'] = np.where(test_data['longitude'] >= 1, 'yes', 'no')
test_data['bined_lat'] = np.where(test_data['latitude'] >= -1, 'no', 'yes')
len(test_data[test_data["bined_long"] == "no"])

291

In [366]:
dummy_df = test_data
dummy_df_not_0 = dummy_df[dummy_df["longitude"] > 2]
dummy_df = dummy_df_not_0.groupby(['district_code']).mean()
dummy_df = dummy_df.reset_index()
dummy_df = dummy_df[["district_code","longitude","latitude"]]
dummy_df = dummy_df.rename(columns={ "longitude": "longitude_temp", "latitude": "latitude_temp"})

test_data = test_data.join(dummy_df.set_index('district_code'), on='district_code')

longitude = []
for index , row in test_data.iterrows():
    if row["longitude"] < 5:
        longitude.append(row["longitude_temp"])
    else:
        longitude.append(row["longitude"])

test_data["longitude"] = longitude

latitude = []
for index, row in test_data.iterrows():
    if row["latitude"] > -1:
        latitude.append(row["latitude_temp"])
    else:
        latitude.append(row["latitude"])
        
test_data["latitude"] = latitude

test_data = test_data.drop(["longitude_temp", "latitude_temp"] , axis = 1)

In [367]:
# filling  0 value gps_heigt rows with mean value of thier geografic region
dummy_df = test_data
dummy_df_not_0 = dummy_df[dummy_df["gps_height"] >= 1]
dummy_df = dummy_df_not_0.groupby(["district_code"]).mean()
dummy_df = dummy_df.reset_index()
dummy_df = dummy_df[["district_code", "gps_height"]]
dummy_df = dummy_df.rename(columns={ "gps_height": "gps_height_temp"})

test_data = test_data.join(dummy_df.set_index("district_code"), on='district_code')

gps_height = []
for index , row in test_data.iterrows():
    if row["gps_height"] <= 1:
        gps_height.append(row["gps_height_temp"])
    else:
        gps_height.append(row["gps_height"])

test_data["gps_height"] = gps_height

test_data["gps_height"] = test_data["gps_height"].fillna(test_data["gps_height"].mean())

test_data = test_data.drop(["gps_height_temp"] , axis = 1)

In [368]:
# getting 5 fisrt value can reduce unique values to 6 column to get dummy variables later
dummy_list = test_data["funder"]
emty_dummy_list = []
first_5_value = ['Government Of Tanzania', 'Danida','Hesawa', 'World Bank', 'Rwssp']


for value in dummy_list:
    if value in  first_5_value:
        emty_dummy_list.append(value)
    else:
        emty_dummy_list.append("Others")

test_data["funder"] = emty_dummy_list

In [369]:
# getting 5 fisrt value can reduce unique values to 6 column to get dummy variables later
dummy_list = test_data["installer"]
emty_dummy_list = []
first_5_value = ['DWE', 'Government','RWE','Commu','DANIDA']

for value in dummy_list:
    if value in  first_5_value:
        emty_dummy_list.append(value)
    else:
        emty_dummy_list.append("Others")

test_data["installer"] = emty_dummy_list

In [370]:
test_data = test_data.drop("subvillage", axis=1)

In [371]:
# There is to value just I put Other to msiing values
test_data["public_meeting"] = test_data["public_meeting"].fillna("Others")

In [372]:
# getting 5 fisrt value can reduce unique values to 6 column to get dummy variables later
dummy_list = test_data["scheme_management"]
emty_dummy_list = []
first_5_value = ['VWC', 'WUG', 'Water authority', 'WUA', 'Water Board']


for value in dummy_list:
    if value in  first_5_value:
        emty_dummy_list.append(value)
    else:
        emty_dummy_list.append("Others")

test_data["scheme_management"] = emty_dummy_list

In [373]:
# There is too many missing value So I droped the scheme_name
test_data = test_data.drop("scheme_name", axis=1)

In [374]:
# There is two value just I put Others to missing values
test_data["permit"] = test_data["permit"].fillna("Others")

In [375]:
# Consruction Year Binned to 2 for it is 0 or not 
bins_for_construction_year = [-1, 1000, 2020]
group_names = [0,1]
test_data["binned_construction_year"] = pd.cut(test_data["construction_year"], bins_for_construction_year, labels=group_names)

In [376]:
# Binning consructionyear by years
bins_for_consruction_year= [-1, 1960, 1970, 1980, 1990, 2000,2010,2020]
group_names = [0,1,2,3,4,5,6]
test_data["seperated_construction_year"] = pd.cut(test_data["construction_year"], bins_for_consruction_year, labels=group_names)

In [377]:
# create column between cons year and recorded year
test_data["recorded_year"] = test_data["date_recorded"].str[0:4]
test_data["recorded_year"] = test_data["recorded_year"].astype("int")
test_data["diff_cons_recorded"] = test_data["recorded_year"] - test_data["construction_year"]

# Binning consructionyear by years
bins_diff_cons_recorded= [-1, 10, 20, 30, 40, 50,2500]
group_names = [0,1,2,3,4,5]
test_data["bined_diff_cons_recorded"] = pd.cut(test_data["diff_cons_recorded"], bins_diff_cons_recorded, labels=group_names)

In [378]:
# get todays date
test_data["today"] = pd.to_datetime('now')
# get difference between today and recorded date
test_data['date_recorded'] = test_data["today"] - pd.to_datetime(test_data['date_recorded'])
# convert datetime valie to days in int
test_data["day_difference"] = test_data['date_recorded'].astype('timedelta64[D]').astype(int)
# date_recorded column
test_data = test_data.drop("date_recorded", axis=1)
# drop today column
test_data = test_data.drop("today", axis=1)
test_data.head()

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,bined_long,bined_lat,binned_construction_year,seperated_construction_year,recorded_year,diff_cons_recorded,bined_diff_cons_recorded,day_difference
0,49884,0.0,Government Of Tanzania,62,DWE,39.108814,-9.665862,Zahanati,0,Ruvuma / Southern Coast,Lindi,80,13,Kilwa,Nanjirinji,268,True,GeoData Consultants Ltd,Others,True,1985,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,yes,yes,1,3,2013,28,2,2586
1,655,6.0,Others,850,DWE,37.497920,-3.387626,Kwa Sabihuna Rajabu,0,Pangani,Kilimanjaro,3,4,Moshi Rural,Kirua Vunjo Kusini,20,True,GeoData Consultants Ltd,Water Board,True,2008,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,yes,yes,1,5,2013,5,0,2392
2,52105,0.0,Others,1781,Others,35.349080,-4.422676,Ofisi Ya Kijiji,0,Internal,Manyara,21,2,Hanang,Gendabi,225,True,GeoData Consultants Ltd,VWC,True,2011,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,yes,yes,1,6,2013,2,0,2542
3,38249,0.0,Government Of Tanzania,1500,Government,33.988838,-1.724149,Kwa Mganga,0,Lake Victoria,Mara,20,3,Musoma Rural,Muriaza,320,Others,GeoData Consultants Ltd,VWC,True,1983,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,enough,enough,lake,river/lake,surface,communal standpipe multiple,communal standpipe,yes,yes,1,3,2012,29,2,2677
4,10734,0.0,Others,1646,DWE,29.759622,-4.511806,Kiteke,0,Lake Tanganyika,Kigoma,16,3,Kigoma Rural,Mkigo,225,True,GeoData Consultants Ltd,VWC,True,2009,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,enough,enough,spring,spring,groundwater,communal standpipe multiple,communal standpipe,yes,yes,1,5,2013,4,0,2586

In [379]:
# there is large amount of unique and not dominating value drop the cloumn
test_data = test_data.drop("wpt_name", axis=1)

In [380]:
# # basin region lga and ward contains geografic value right now keep basin because has less unique
test_data = test_data.drop(["region","lga","ward"], axis=1)

In [381]:
# Drop recored by because there is only 1 value
test_data = test_data.drop("recorded_by", axis=1)

In [382]:
# management looks like shame management 
test_data = test_data.drop("scheme_management", axis=1)

In [383]:
# all extractions looks similar just keep the lowest unique now
test_data = test_data.drop(["extraction_type_class","extraction_type_group"], axis=1)

In [384]:
# payment and payment group looks similar
test_data = test_data.drop("payment", axis=1)

In [385]:
# water quality and quality group looks similar
test_data = test_data.drop("quality_group", axis=1)

In [386]:
# quantity_group and quantity group looks similar
test_data = test_data.drop("quantity_group", axis=1)

In [387]:
# source  and source type group looks similar
test_data = test_data.drop("source", axis=1)

In [388]:
# waterpoint_type and swaterpoint_type group looks similar
test_data = test_data.drop("waterpoint_type", axis=1)

In [389]:
# dropped too.

test_data = test_data.drop(['region_code', 'district_code',
             'num_private', 'id'], axis=1)

In [390]:
# amount_tsh
bins_for_amount_tsh = [-1,1,5 , 10, 100,1000,100000]
group_names = [0,1,2,3,5,6]
test_data["binned_amount_tsh"] = pd.cut(test_data["amount_tsh"], bins_for_amount_tsh, labels=group_names)

In [391]:
# binned Population
bins_for_amount_tsh = [-1,1,10, 20,50, 100, 500, 1000,100000]
group_names = [0,1,2,3,4, 5, 6, 7]
test_data["binned_population"] = pd.cut(test_data["population"], bins_for_amount_tsh, labels=group_names)

In [392]:
# binned Pgps_heigth
bins_for_amount_tsh = [-1000,-1,1, 500, 1000, 1500, 2000, 2500,5000]
group_names = [0,1,2,3,4, 5, 6, 7]
test_data["binned_gps_height"] = pd.cut(test_data["gps_height"], bins_for_amount_tsh, labels=group_names)

In [393]:
train_data['amount_tsh'] = np.log(train_data['amount_tsh'] + 1)

In [394]:
test_data = pd.get_dummies(test_data,columns = [ 'funder', 'installer', 
       'basin',  'public_meeting',
       'management', 'permit',
       'extraction_type', 'management_group', 'payment_type',
       'water_quality', 'quantity', 'source_type', 'source_class',
       'waterpoint_type_group',  
       'binned_construction_year', "seperated_construction_year","bined_diff_cons_recorded", 'binned_amount_tsh', 'bined_long', 'bined_lat'])

In [395]:
test_data.shape

(9400, 134)

In [396]:
test_data = test_data[feature_imp_top.index]

In [397]:

test_data_scaled = X_scaler.transform(test_data)

In [398]:
# create Prediction using random forest predicter 
rf_prediction = rf_clf.predict(test_data_scaled)
print(rf_prediction)

[0 0 0 ... 0 0 0]

In [399]:
# Combined report with all above metrics
print("Accuracy:", accuracy_score(test_labels , rf_prediction))
from sklearn.metrics import classification_report
print(classification_report(test_labels , rf_prediction ))

Accuracy: 0.7919148936170213
              precision    recall  f1-score   support

           0       0.77      0.91      0.84      5095
           1       0.62      0.12      0.20       652
           2       0.84      0.74      0.79      3653

    accuracy                           0.79      9400
   macro avg       0.74      0.59      0.61      9400
weighted avg       0.79      0.79      0.77      9400

In [ ]:
# # Grid Search 
# from sklearn.model_selection import GridSearchCV
# parameters = {"max_depth" : [16],"min_child_weight":[3], "gamma":[0] ,  "subsample" : [i/10 for i in range(7,9)] , "colsample_bytree" : [0.8] , 
#               "scale_pos_weight" : [1] , "learning_rate": [0.1]}
# xgb_model = xgb.XGBClassifier(random_state=42 )
# clf = GridSearchCV(xgb_model, parameters)
# clf.fit(X_train_scaled, y_train)
# GridSearchCV(estimator=xgb.XGBClassifier(random_state=42),
#              param_grid= parameters , cv = 3)
# sorted(clf.cv_results_.keys())

In [ ]:
xgb_model = xgb.XGBClassifier(random_state=42,  n_estimators=5000 , max_depth = 16, min_child_weight = 3  , gamma = 0 , subsample = 0.8, colsample_bytree = 0.8 , scale_pos_weight = 1 ,learning_rate =0.01)
xgb_model.fit(X_train_scaled, y_train)
# y_pred = xgb_model.predict(X_test_scaled)
# print(classification_report(y_test , y_pred))

In [ ]:
xgb_prediction = xgb_model.predict(test_data_scaled)
# print(classification_report(test_labels , xgb_prediction ))

In [1235]:
# Stacking with 2 model 
model_1 = RandomForestClassifier(random_state=42 , bootstrap =  True , n_estimators=1000,max_depth = 16, min_samples_split = 2 , max_features=  'auto', min_samples_leaf =  1)
model_3 = KNeighborsClassifier(n_neighbors=7)
model_2 = xgb.XGBClassifier(random_state=42,  n_estimators=1000 , max_depth = 16, min_child_weight = 3  , gamma = 0 , 
                            subsample = 0.8, colsample_bytree = 0.8 , scale_pos_weight = 1 ,learning_rate =0.1)

model_1.fit(X_train_scaled, y_train)
model_2.fit(X_train_scaled, y_train)
model_3.fit(X_train_scaled, y_train)

pred_1 = model_1.predict(X_test_scaled)
pred_2 = model_2.predict(X_test_scaled)
pred_3 = model_3.predict(X_test_scaled)

test_pred_1 = model_1.predict(test_data_scaled)
test_pred_2 = model_2.predict(test_data_scaled)
test_pred_3 = model_3.predict(test_data_scaled)

stacked_pred = np.column_stack((pred_1, pred_2, pred_3))
stacked_test_pred = np.column_stack((test_pred_1, test_pred_2 , test_pred_3))

meta_model= SVC()
meta_model.fit(stacked_pred , y_test)

C:\Users\sinancengiz\Anaconda3\envs\PythonData\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [1236]:
final_prediction = meta_model.predict(stacked_test_pred)
print(classification_report(test_labels , final_prediction ))

ValueError: Found input variables with inconsistent numbers of samples: [9400, 14850]

In [ ]:
print("Accuracy:", accuracy_score(test_labels , final_prediction))

In [ ]:
# from sklearn.neural_network import MLPClassifier
# mlp = MLPClassifier(max_iter=100)

# parameter_space = {
#     #'hidden_layer_sizes': [(50,50,50), (50,100,50), (100,)],
#     'activation': ['tanh', 'relu'],
#     'solver': ['sgd', 'adam','lbfgs'],
#     'alpha': [0.0001, 0.05],
#     'learning_rate': ['constant','adaptive'],
# }

# from sklearn.model_selection import GridSearchCV

# clf = GridSearchCV(mlp, parameter_space, n_jobs=-1, cv=3)
# clf.fit(X_train_scaled, y_train)

# # Best paramete set
# print('Best parameters found:\n', clf.best_params_)

# # All results
# means = clf.cv_results_['mean_test_score']
# stds = clf.cv_results_['std_test_score']
# for mean, std, params in zip(means, stds, clf.cv_results_['params']):
#     print("%0.3f (+/-%0.03f) for %r" % (mean, std * 2, params))

In [ ]:
# from sklearn.neural_network import MLPClassifier
# neural_clf = MLPClassifier( activation =  'tanh' , solver='adam', alpha=0.05, learning_rate= 'constant' ,
#                     hidden_layer_sizes=(5, 2), random_state=42)

# neural_clf.fit(X_train_scaled, y_train)
# y_pred = neural_clf.predict(X_test_scaled)
# print("Accuracy:", accuracy_score(y_test, y_pred))
# print("F Score:",f1_score(y_test,y_pred, average='weighted'))

In [ ]:
# # create Prediction using random forest predicter 
# neural_prediction = neural_clf.predict(test_data_scaled)
# print(neural_prediction)

In [ ]:
# # Combined report with all above metrics
# from sklearn.metrics import classification_report
# print(classification_report(test_labels , neural_prediction ))

In [ ]:
# # Combined report with all above metrics
# X_train_scaled = X_scaler.transform(X)
# from sklearn.neural_network import MLPClassifier
# neural_clf = MLPClassifier( activation =  'tanh' , solver='adam', alpha=0.05, learning_rate= 'constant' ,
#                     hidden_layer_sizes=(5, 2), random_state=42)

# neural_clf.fit(X_train_scaled, y)

# # create Prediction using random forest predicter 
# neural_prediction = neural_clf.predict(test_data_scaled)

# from sklearn.metrics import classification_report
# print(classification_report(test_labels , neural_prediction ))

In [ ]:
# # Knn Clasifier
# for k in range(1,20,2):
#     knn_clf= KNeighborsClassifier(n_neighbors=k)
#     knn_clf.fit(X_train_scaled, y_train)
#     y_pred = knn_clf.predict(X_test_scaled)
#     # Model Accuracy, how often is the classifier correct?
#     print("Accuracy:", accuracy_score(y_test, y_pred))
#     print("F Score:",f1_score(y_test,y_pred, average='weighted'))

In [ ]:
# #Make prediction with Knn 
# knn_clf= KNeighborsClassifier(n_neighbors=5)
# knn_clf.fit(X_train_scaled, y_train)
# knn_prediction = knn_clf.predict(test_data_scaled)
# # Combined report with all above metrics
# from sklearn.metrics import classification_report
# print(classification_report(test_labels , knn_prediction ))

In [1237]:
# import submission format from csv
submit_format = pd.read_csv('SubmissionFormat.csv')
submit_format.head()

      id     status_group
0  50785  predicted label
1  51630  predicted label
2  17168  predicted label
3  45559  predicted label
4  49871  predicted label

In [1238]:
submit_format["status_group"] = final_prediction
# replace the functionalbut needs repair  with functional
submit_format["status_group"] = submit_format["status_group"].replace(0, "functional")
submit_format["status_group"] = submit_format["status_group"].replace(1, "functional needs repair")
submit_format["status_group"] = submit_format["status_group"].replace(2, "non functional")
submit_format.head(100)

       id             status_group
0   50785           non functional
1   51630               functional
2   17168               functional
3   45559           non functional
4   49871               functional
5   52449               functional
6   24806           non functional
7   28965           non functional
8   36301           non functional
9   54122               functional
10    419               functional
11  45750           non functional
12    653           non functional
13  14017           non functional
14  44607               functional
15  40228               functional
16  27714               functional
17  28785               functional
18  28330               functional
19  18532           non functional
20  69961               functional
21  55083           non functional
22   8691           non functional
23  30331           non functional
24  70970               functional
25  61136               functional
26  28799           non functional
27  46825           non functional
28  44718  functional needs repair
29  37350               functional
30  65738               functional
31   3271           non functional
32  42658               functional
33  67523               functional
34  37034               functional
35  42432               functional
36  27420               functional
37    707  functional needs repair
38  48489           non functional
39  51008           non functional
40  72562               functional
41  10275               functional
42  53540           non functional
43  43291           non functional
44   8813               functional
45  62343           non functional
46   1649               functional
47   8822               functional
48  10352           non functional
49  50878               functional
50  15266               functional
51  51956               functional
52  44099           non functional
53     59           non functional
54  51359           non functional
55  15962           non functional
56  17853  functional needs repair
57  42040           non functional
58  72243               functional
59  63653           non functional
60  26510               functional
61  72053               functional
62  29351               functional
63  51897           non functional
64  20376               functional
65  26804               functional
66  67303               functional
67  69780           non functional
68  45374               functional
69  54665               functional
70  39341           non functional
71   8869  functional needs repair
72  20691           non functional
73  19693           non functional
74  14321           non functional
75  63059               functional
76  67403               functional
77  28912               functional
78  12549               functional
79  24328           non functional
80  13750           non functional
81   1574           non functional
82  44149           non functional
83  53917               functional
84  22705               functional
85  66465               functional
86  15644               functional
87  20773           non functional
88  33092           non functional
89  54392               functional
90  37850               functional
91   5576           non functional
92  60840               functional
93   9971           non functional
94  57508               functional
95  25872           non functional
96  43978               functional
97  38181               functional
98  24325           non functional
99   2724           non functional

In [1239]:
submit_format["status_group"].value_counts()

functional                 9131
non functional             5383
functional needs repair     336
Name: status_group, dtype: int64

In [1240]:
submit_format.to_csv("sinan_submission.csv", index=False)